<!DOCTYPE html>
<html lang="en">

<head>
  <title>PhotoShare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>

    <style>
        h1 {display: flex; justify-content: center; align-items: center;}
    </style>

  <main>
  <a href="index.html">Back to homepage</a>

    <h1>My Profile:</h1>

    <div class="my-albums">
        <h3>My Albums:</h3>
    </div><br>

    <div class="my-friends">
        <h3>My Friends:</h3>
        <ul>
            {% for friend in friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div>
        <h3>Recommended Friends:</h3>
        <ul>
            {% for friend in rec_friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div class="upload-photo">
        <h3>Upload a Photo: </h3>
        <form method='POST' enctype="multipart/form-data" action="/photos/upload/{{album}}"> <!-- Will need to change action-->
            <label for="photo">Select a Photo: </label>
            <input type="file" name="photo" required="true"/><br><br>
            <label for="caption">Add a Tag(s): </label> <!-- Will need to change tags so people can add multiple-->
            <input type="text" name="tag"/><br><br>
            <label for="album">Upload to this album: </label>
            <select id="album_title" name="album_title"> <!-- need to query the DB for album names under the user-->
                {% for albumName in albums %}
                  <option value="{{ albumName }}">{{ albumName }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Upload Photo"/>
        </form>
    </div><br>

    <div class="create-album">
        <form action ="create_album" method='POST'>
            <h3>Create a new Album:</h3>
            <input type ="text" name="album-creation" placeholder="Enter Album Name"/>
            <input type="submit" name="submit" value="Create Album"/>
        </form>
    </div><br>

    <div class="find-friends">
        <form method="post" action="{{ url_for('add_friend') }}">
            <h3>Add a friend</h3>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="friend_email" placeholder="Enter Friend's Email"/>
            <input type="submit" name="submit" value="Add friend"/>
        </form>
        {% if friend_error and not friend_success %}
            <p color="red">{{friend_error}}</p>
        {% endif %}
        {% if friend_success %}
            <p color="green">{{friend_success}}</p>
        {% endif %}
    </div><br>

  </main>

</body>
</html>