<!DOCTYPE html>
<html lang="en">

<head>
  <title>PhotoShare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>

    <style>

        h1 {
            display: flex; 
            justify-content: center; 
            align-items: center;
        }

        main {
            font-family: 'Montserrat', sans-serif;
        }

        ul {
            list-style-type: none;
        }

    </style>

  <main>
  <a href="index.html">Back to homepage</a>

    <h1>My Profile:</h1>

    <div class="my-albums">
        <h3>My Albums:</h3>
        {% if albums %}
            <ul>
            {% for album in albums %}
                <li>{{ album.name }}: uploaded by {{ email }}</a></li>
                <ul>
                    {% for photo in album_photos[album.albumId] %}
                    <li><img src="{{ url_for('static', filename=photo[1].replace('\\','/')) }}" width="200px" alt="">
                        <ul>
                            <li>
                                Caption: {{photo[3].caption}}
                            </li>
                            <li>
                                Upload date: {{photo[3].date}}
                            </li>
                            <li>
                                Tags:
                                {% for tag in photo[2] %}
                                    {{tag}} 
                                {% endfor %}
                            </li>
                            <li>
                                Likes: {{ photo[4] }}
                            </li>
                            <li>
                                Comments: NOT IMPLEMENTED
                                <ul>
                                    <li>comment1</li>
                                </ul>
                            </li>
                            <li>
                                <form action="{{ url_for('delete_photo', album_id=album.albumId, photo_id=photo[3].photoId) }}" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="email" value="{{ email }}">
                                    <button type="submit">Delete photo</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {% endfor %}
                    <li>
                        <form action="{{ url_for('add_photo', album_id=album.albumId) }}" method="POST" enctype="multipart/form-data">
                            <button type="submit">Add photo to album: {{album.name}}</button>
                            <ul>
                                <li>
                                    <input type="file" name="photo" id="photo" required>
                                    <input type="hidden" name="email" value="{{ email }}">
                                </li>
                                <li>
                                    <label for="caption">Caption:</label>
                                    <input type="text" name="caption" id="caption" required>
                                </li>
                                <li>
                                    <label for="tags">Tags (space separated):</label>
                                    <input type="text" name="tags" id="tags">
                                </li>
                            </ul>
                        </form>
                    </li>
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <p>No albums to display</p>
        {% endif %}
    </div><br>

    <div class="my-friends">
        <h3>My Friends:</h3>
        <ul>
            {% for friend in friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div>
        <h3>Recommended Friends:</h3>
        <ul>
            {% for friend in rec_friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div class="create-album">
        <h3>Create a new Album (you can add more photos once it's uploaded):</h3>
        <form action="/upload_album" method="post" enctype="multipart/form-data">
            <label for="album_name">Album Name:</label>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="album_name" id="album_name" required>
            <br>
            <label for="photo">First photo:</label>
            <input type="file" name="photo" id="photo" required>
            <br>
            <label for="caption">Caption:</label>
            <input type="text" name="caption" id="caption" required>
            <br>
            <label for="tags">Tags (space separated):</label>
            <input type="text" name="tags" id="tags">
            <br>
            <input type="submit" value="Upload Album">
          </form>
    </div><br>

    <div class="find-friends">
        <form method="post" action="{{ url_for('add_friend') }}">
            <h3>Add a friend</h3>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="friend_email" placeholder="Enter Friend's Email"/>
            <input type="submit" name="submit" value="Add friend"/>
        </form>
        {% if friend_error and not friend_success %}
            <p color="red">{{friend_error}}</p>
        {% endif %}
        {% if friend_success %}
            <p color="green">{{friend_success}}</p>
        {% endif %}
    </div><br>

  </main>

</body>
</html>
