<!DOCTYPE html>
<html lang="en">

<head>
  <title>PhotoShare</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>

    <style>
        h1 {display: flex; justify-content: center; align-items: center;}
    </style>

  <main>
  <a href="index.html">Back to homepage</a>

    <h1>My Profile:</h1>

    <div class="my-albums">
        <h3>My Albums:</h3>
        {% if albums %}
            <ul>
            {% for album in albums %}
                <li>{{ album.name }}</a></li>
                <ul>
                    {% for photo in album_photos[album.albumId] %}
                    <li><img src="{{ url_for('static', filename=photo[1].replace('\\\\', '\\')) }}" width="200px"></li>
                        <ul>
                            Tags: 
                        </ul>
                    {% endfor %}
                </ul>
            {% endfor %}
            </ul>
        {% else %}
            <p>No albums to display</p>
        {% endif %}
    </div><br>

    <div class="my-friends">
        <h3>My Friends:</h3>
        <ul>
            {% for friend in friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div>
        <h3>Recommended Friends:</h3>
        <ul>
            {% for friend in rec_friends %}
                <li>{{ friend.firstName }} {{ friend.lastName }}: {{ friend.email }}</li>  <!-- Display the email of each friend of friend -->
            {% endfor %}
        </ul>
    </div><br>

    <div class="create-album">
        <h3>Create a new Album:</h3>
        <form action="/upload_album" method="post" enctype="multipart/form-data">
            <label for="album_name">Album Name:</label>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="album_name" id="album_name" required>
            <br>
            <label for="photo">Photo:</label>
            <input type="file" name="photo" id="photo" required>
            <br>
            <label for="tags">Tags (space separated):</label>
            <input type="text" name="tags" id="tags">
            <br>
            <input type="submit" value="Upload Album">
          </form>
    </div><br>

    <div class="find-friends">
        <form method="post" action="{{ url_for('add_friend') }}">
            <h3>Add a friend</h3>
            <input type="hidden" name="email" value="{{ email }}">
            <input type="text" name="friend_email" placeholder="Enter Friend's Email"/>
            <input type="submit" name="submit" value="Add friend"/>
        </form>
        {% if friend_error and not friend_success %}
            <p color="red">{{friend_error}}</p>
        {% endif %}
        {% if friend_success %}
            <p color="green">{{friend_success}}</p>
        {% endif %}
    </div><br>

  </main>

</body>
</html>
